<!DOCTYPE html>
<html>
	<head>
		<title>Minesweeper</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
		<script src="js/minesweeper.js"></script>
		<script src="js/cell-factory.js"></script>
		<script src="js/game-controller.js"></script>
		<script src="js/ms-cell-directive.js"></script>
		<link href="css/style.css" rel="stylesheet" />
	</head>
	<body ng-app="minesweeper" ng-controller="GameController as game">
		<div class="content-wrapper">
			<div id="game-controls">
				<input type="button" value="New Game" ng-click="game.setupGame()" />
			</div>
			<div id="game-board" class="game-board">
				<div id="overlay" class="overlay" ng-show="game.isGameOver()" ms-right-click="$event.preventDefault();"></div>
				<div class="cell-row" ng-repeat="cellRow in game.cells">
					<ms-cell class="cell" ng-repeat="cell in cellRow"
						cell="cell"
						ng-click="game.cellClicked($event, cell);"
						ms-right-click="game.cellRightClicked($event, cell);"
						ng-mousedown="game.cellMouseDown($event, cell);"
						ng-mouseup="game.cellMouseUp($event, cell)"
						/>
				</div>
			</div>
		</div>
	</body>
</html>