<!DOCTYPE html>
<html>
	<head>
		<title>Minesweeper</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
		<script src="scripts/minesweeper.js"></script>
		<script src="scripts/cell-factory.js"></script>
		<script src="scripts/game-controller.js"></script>
		<script src="scripts/ms-cell-directive.js"></script>
		<link href="styles/style.css" rel="stylesheet" />
	</head>
	<body ng-app="minesweeper" ng-controller="GameController as game">
		<div id="game-board" class="game-board">
			<div id="overlay" class="overlay" ng-show="game.isGameOver()"></div>
			<div class="cell-row" ng-repeat="cellRow in game.Cells">
				<ms-cell class="cell" ng-repeat="cell in cellRow" 
					type="cell.getType()" 
					state="cell.getState()"
					ng-click="game.cellClicked($event, cell);"
					ms-right-click="game.cellRightClicked($event, cell);"
					ng-mousedown="game.cellMouseDown($event, cell);"
					ng-mouseup="game.cellMouseUp($event, cell)"
					/>
			</div>
		</div>
	</body>
</html>